/* Styling dasar */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #94c6ff, #94fff1, #94fff6, #94ffa1, #baff94);
    background-size: 400% 400%; /* Ukuran background lebih besar untuk efek animasi */
    animation: gradientAnimation 10s ease infinite; /* Animasi berjalan 10 detik, terus berulang */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#terdaftar, #invalid, #kosong {
    color: red;
    font-size: small;
    position: relative; /* Ubah ke relative */
    margin-top: 10px; /* Menambahkan margin untuk jarak dari kotak password */
    text-align: center; /* Mengatur agar teks berada di tengah */
}

/* Form Container */
.container {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    animation: fadeIn 1s ease-out;
    animation-delay: 2s;
}

.input-container {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Membuat form menjadi kolom */
}

.input-container input[type="text"], 
.input-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4787ff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Media Queries untuk Responsivitas */
@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Lebar container lebih kecil untuk layar lebih kecil */
    }

    .input-container input[type="text"], 
    .input-container input[type="password"],
    .input-container button {
        width: 100%; /* Lebar input dan tombol mengikuti lebar container */
    }

    #terdaftar, #invalid, #kosong {
        font-size: 14px; /* Ukuran font pesan lebih kecil di layar kecil */
        margin-top: 8px; /* Jarak sedikit lebih kecil */
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%; /* Lebar container lebih kecil di ponsel */
    }

    .input-container input[type="text"], 
    .input-container input[type="password"],
    .input-container button {
        padding: 8px; /* Mengurangi padding */
        font-size: 14px; /* Mengurangi ukuran font */
    }

    #terdaftar, #invalid, #kosong {
        font-size: 12px; /* Ukuran font lebih kecil pada ponsel */
    }
}
