#Projects {
  background: linear-gradient(#c9fdff, #c6ffc5, #daefff);
}

#About {
  padding-top: 6rem;
}

#Contact {
  padding-top: 4rem;
}

.jumbotron {
  padding-top: 6rem;
  background: linear-gradient(#76c8ff, #c9fdff, #d8ffd7);
}

footer {
  background: linear-gradient(#daefff, #c9fdff, #0099ff);
}
