html,
body {
  overflow: hidden; /* Nonaktifkan scroll */
  height: 100%; /* Pastikan konten hanya di dalam viewport */
}

/* Pembungkus carousel */
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh; /* Tinggi layar penuh */
  background-color: #8cb2ff; /* Warna latar (opsional) */
}

.card-img {
  height: 100vh; /* Sesuaikan dengan tinggi viewport */
  object-fit: cover; /* Memotong gambar agar sesuai dengan area */
  object-position: center; /* Memusatkan gambar saat dipotong */
}

/* Tombol kontrol di kiri dan kanan pojok */
.carousel-control-prev,
.carousel-control-next {
  top: 50%; /* Vertikal di tengah */
  transform: translateY(-50%);
  width: 10%; /* Lebar tombol */
}

.carousel-control-prev {
  left: 0; /* Pindah ke pojok kiri */
}

.carousel-control-next {
  right: 0; /* Pindah ke pojok kanan */
}

/* Ikon tombol lebih besar */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.carousel-indicators {
  position: absolute; /* Agar indikator bisa diposisikan dengan tepat */
  bottom: 10px; /* Posisi 10px dari bawah */
  right: 10px; /* Posisi 10px dari kanan */
  z-index: 10; /* Agar indikator tampil di atas konten lain */
}

@media (max-width: 768px) {
  .card-img {
    content: url("pic/Medical-Store-HP.png");
  }

  .indikator-kiri {
    content: url("pic/indicator/kiri-HP.png");
  }
  .indikator-kanan {
    content: url("pic/indicator/kanan-HP.png");
  }
}
